.card-body {
    background-color: teal;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.9;
}

#gamediv{
    text-align: center;
}

#optionsdiv{
    align-content: center;
    text-align: center;
}

#startgmae{
    align-content: center;
    text-align: center;
}

#resultdiv{
    align-content: center;
    text-align: center;
}

#imagediv{
    align-content: center;
    text-align: center;
}